:root {
    --head-one-size: clamp(1em, 5vw, 2em);
    --head-two-size: clamp(0.5em, 4.5vw, 1.5em);
    --head-three-size: clamp(0.3em, 1.7vw, 1.6em);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;

    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color:#C0FFEE;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerImage {
    width: calc(var(--head-one-size) * 0.35* 0.75);
    width: calc(var(--head-one-size) * 0.75);

    padding: 5px;
}
#aboutme {
    font-size: var(--head-three-size);
    color: #dbb999;
    text-align:center;
    text-shadow: #000000 0px 0px 7px;

    display: flex;
}

#socials {
    color: #f0b1db;
    margin-bottom: 2%;
}

#socials > h2 {
    margin: 0;
}

a:link {
    color: rgb(210, 239, 255);
}

a:visited {
    color: rgb(151, 171, 182);
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: var(--head-one-size);
}

h2 {
    font-size: var(--head-two-size);
}
