---
---

<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="images/krueemmelchen.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kruemmelchen owo</title>
		<style>
			body{
				margin:0;
				/* background-color: #232326;
				 */
				background-image: url("../images/kuhlesbild.png");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-attachment: fixed;
				color: #BEEEEF;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
			#sehrgae{
				position:absolute;
				top: 0;
				left: 0;
				size: 10%;
			}
		</style>
	</head>
	<body>
		<div id="gay">
			<h1>Krüemmelchen ist gay</h1>
		</div>
		<div id="sehrgae">
			<img src="images/krueemmelchen.png" alt="Krüemmelchen" width="200" height="100">
		</div>
	</body>
</html>
